<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal-header">
    <h5 th:text="${titleModal}" class="modal-title"></h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form th:action="@{/admin/customer/edit}" method="post" th:object="${customer}">
    <input type="hidden" th:field="*{customerId}">
    <div class="form-group mt-3">
        <label class="col-12" for="name">Name</label>
        <input id="name" class="form-control col-12" type="text" th:field="*{customerName}">
    </div>
    <div class="form-group">
        <label class="col-12" for="birthday">Birthday</label>
        <input id="birthday" class="form-control col-12" type="text" th:field="*{customerBirthday}">
    </div>
    <div class="form-group">
        <label class="col-12" for="idCard">Gender</label>
        <input id="idCard" class="form-control col-12" type="text" th:field="*{customerGender}">
    </div>
    <div class="form-group">
        <label class="col-12" for="salary">Id Card</label>
        <input id="salary" class="form-control col-12" type="text" th:field="*{customerIdCard}">
    </div>
    <div class="form-group">
        <label class="col-12" for="phone">Phone</label>
        <input id="phone" class="form-control col-12" type="text" th:field="*{customerPhone}">
    </div>
    <div class="form-group">
        <label class="col-12" for="email">Email</label>
        <input id="email" class="form-control col-12" type="text" th:field="*{customerEmail}">
    </div>
    <div class="form-group">
        <label class="col-12" for="address">Address</label>
        <input id="address" class="form-control col-12" type="text" th:field="*{customerAddress}">
    </div>
    <div class="form-group">
        <label class="col-12" for="division">Customer Type</label>
        <select th:field="*{customerType}"  class="form-control col-12" id="division">
            <option th:each="ct : ${customerTypeList}" th:value="${ct.customerTypeId}" th:text="${ct.customerTypeName}"></option>
        </select>
    </div>
    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary">
            Edit
        </button>
    </div>
</form>
</body>
</html>