<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:object="${user}" th:action="@{/register}" method="post">
        <div>
            <label>User name:</label>
            <input type="text" th:field="*{username}">
        </div>
        <div>
            <label>Password:</label>
            <input type="password" th:field="*{password}">
        </div>
        <div>
            <label>Role:</label>
            <input type="checkbox" name="roles"
                   th:each="role : ${roleList}"
                   th:text="${role.name}"
                   th:value="${role.id}"
                   th:field="*{roles}"
            />
        </div>
        <button type="submit">Create</button>
    </form>

</body>
</html>